<div class="city-of-song">
    <h2>A City of Song and Magic</h2>
    <img src="https://cdn.shopify.com/s/files/1/0882/5077/7896/files/Scarlets_Sirent-City_A-City-of-Song-and-Magic_480x480.webp?v=1726543058" alt="City of Song">
    <p><em>In Siren City, music is not merely a form of entertainment; it is the heartbeat of the city...</em></p>
    <a href="{{ collections['scarlets-coffee-bags'].url }}" title="Discover Our Coffee Blends Inspired by Siren City">Discover Our Coffee Blends Inspired by Siren City</a>
</div>

{% schema %}
{
  "name": "City of Song",
  "settings": [],
  "presets": [{
    "name": "City of Song",
    "category": "Custom Sections"
  }]
}
{% endschema %}
