{% for block in section.blocks %}
    {% if block.type == 'paragraph' %}
        <p>{{ block.settings.text }}</p>
    {% elsif block.type == '@app' %}
        {% render block %}
    {% endif %}    
{% endfor %}

<h1>{{ section.settings.text }}</h1>

{% for block in section.blocks %}
    {% if block.type == 'social' %}
        <a href="{{ block.settings.url }}">{{ block.settings.text }}</a>
    {% endif %}    
{% endfor %}

{%- schema -%}
{
    "name": "Custom section",
    "settings": [
        {
            "type": "text",
            "id": "text",
            "label": "Text"
        }
    ],
    "presets": [
       {
            "name": "Default custom section",
            "settings": {
                "text": "Default text"                          
            }
        },
        {
            "name": "Red custom section"
        }
    ],
    "tag": "header",
    "class": "custom-section",
    "limit": 1,
    "blocks": [
        {
            "type": "@app"
        },
        {
            "name": "Social link",
            "type": "social",
            "settings": [
                {
                    "type": "text",
                    "id": "text",
                    "label": "Text"
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "URL"
                }
            ]
        },
        {
            "name": "Paragraph",
            "type": "paragraph",
            "settings": [
                {
                    "type": "textarea",
                    "id": "text",
                    "label": "Text"
                }
            ]
        }
    ],
    "max_blocks": 3
}
{%- endschema -%}